In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Total number of players
TotalPlayers = purchase_data["SN"].nunique()

# Dataframe created from a dictionary 
total_palyers_data = {"Total Players":[TotalPlayers]}
tot_players_df = pd.DataFrame(total_palyers_data)

# Display
tot_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calc Number of Unique Items
No_Of_Unique_Items = purchase_data["Item ID"].nunique()

# Calc Average Price
Average_Price = purchase_data["Price"].mean()

# Calc Number of Purchases
No_Of_Purchases = purchase_data["Purchase ID"].count()

# Calc Total Revenue
Total_Revenue = purchase_data["Price"].sum()

# Applying cleaner formatting for display data
Average_Price = "${:.2f}".format(Average_Price)
Total_Revenue = "${:,.2f}".format(Total_Revenue)

# Dataframe created using lists
results = [[No_Of_Unique_Items,Average_Price,No_Of_Purchases,Total_Revenue]]
cols = ["Number of Unique Items","Average Price","Number of Purchases","Total Revenue"]
summary_dataframe = pd.DataFrame(data=results,columns=cols)

# Display
summary_dataframe

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# Grouping by Gender
grouped_pd = purchase_data.groupby(["Gender"])

# Total Count of players in each gender
total_player_count_by_gender = grouped_pd["SN"].nunique()

# Create summary dataframe and start adding summary starting with Total Count of players by gender
grouped_pd = pd.DataFrame(total_player_count_by_gender)
grouped_pd = grouped_pd.rename(columns={"SN":"Total Count"})

# Sorting the dataframe by Total Count of players
grouped_pd = grouped_pd.sort_values(by="Total Count", ascending=False)

# Percentage of players
total_player_count = grouped_pd["Total Count"].sum()
per_players = (total_player_count_by_gender/total_player_count)*100

# Applying cleaner formatting
per_players = per_players.astype(float).map("{:.2f}%".format)

# Adding Percentage of Players to dataframe
grouped_pd["Percentage of Players"] = per_players

# Display 
grouped_pd.index.name=None
grouped_pd

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Group data by Gender into a new dataframe PA_Gender
PA_Gender = purchase_data.groupby(["Gender"])

#create series for each aggregate calculation
# Purchase Count
purchase_cnt = PA_Gender["SN"].count()

# Average Purchase Price
avg_purchase_price = PA_Gender["Price"].mean()

# Total Purchase Value
tot_purchase_val = PA_Gender["Price"].sum()

# Avg Total Purchase per Person
purchase_cnt_uniq_person = PA_Gender["SN"].nunique()
avg_total_purchase_per_person = tot_purchase_val/purchase_cnt_uniq_person

#Formatting display
avg_purchase_price = avg_purchase_price.astype(float).map("${:.2f}".format)
tot_purchase_val = tot_purchase_val.astype(float).map("${:,.2f}".format)
avg_total_purchase_per_person = avg_total_purchase_per_person.astype(float).map("${:,.2f}".format)

# create a dictonary of series
data = {
        "Purchase Count": purchase_cnt,
        "Average Purchase Price": avg_purchase_price,
        "Total Purchase Value": tot_purchase_val, 
        "Avg Total Purchase per Person": avg_total_purchase_per_person,
        }
# create final dataframe by concatenating # Concatenating the series side by side as depicted by axis=1       
Purchasing_Analysis_DF = pd.concat(data,axis = 1)

# Display
Purchasing_Analysis_DF

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Establish bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9,34.9,39.9,100]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]

#Preserving original daraframe by create a new dataframe 'purchase_data_agebin' from original
purchase_data_agebin = purchase_data

#Categorize the existing players using the age bins
purchase_data_agebin["Age Group"] = pd.cut(purchase_data_agebin["Age"], age_bins, labels=bin_names, include_lowest=False)

#Group data by Age Group
purchase_data_by_age_group = purchase_data_agebin.groupby("Age Group")

# Total Count
total_players_by_age = purchase_data_by_age_group["SN"].nunique()
#Create summary dataframe and start adding summary starting with Total Count

purchase_data_by_age_group = pd.DataFrame(total_players_by_age)
purchase_data_by_age_group = purchase_data_by_age_group.rename(columns={"SN": "Total Count"})

# Total Players of all ages
total_players = purchase_data_by_age_group["Total Count"].sum()

# Percentage of Players
per_of_players = (total_players_by_age/total_players)*100

# Applying formatting for display
per_of_players = per_of_players.astype(float).map("{:.2f}%".format)

# Adding Percentage of Players to dataframe
purchase_data_by_age_group["Percentage of Players"] = per_of_players

# Display
purchase_data_by_age_group.index.name = None
purchase_data_by_age_group

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:

# Using the age bin from previous cell
# Binning the purchase_data data frame by age
purchase_data_by_age = purchase_data_agebin.groupby("Age Group")

# Calc Purchase Count
purchase_count = purchase_data_by_age["Item ID"].count()

#Create summary dataframe and start adding summary starting with Purchase Count
purchase_data_by_age_basic_calc_df = pd.DataFrame(purchase_count)
purchase_data_by_age_basic_calc_df = purchase_data_by_age_basic_calc_df.rename(columns={"Item ID": "Purchase Count"})


# Calc Total Purchase Value
tot_pur_val = purchase_data_by_age["Price"].sum()

# Calc Average Purchase Price
avg_pur_price = tot_pur_val/purchase_count

#Calc Avg Total Purchase per Person
total_player_count = purchase_data_by_age["SN"].nunique()
avg_pur_per_person = tot_pur_val/total_player_count

# Applying cleaner format to display data
tot_pur_val = tot_pur_val.astype(float).map("${:,.2f}".format)
avg_pur_price = avg_pur_price.astype(float).map("${:,.2f}".format)
avg_pur_per_person = avg_pur_per_person.astype(float).map("${:,.2f}".format)

# Adding rest of the summary fields to summary data frame
purchase_data_by_age_basic_calc_df["Average Purchase Price"] = avg_pur_price
purchase_data_by_age_basic_calc_df["Total Purchase Value"] = tot_pur_val
purchase_data_by_age_basic_calc_df["Avg Total Purchase per Person"] = avg_pur_per_person

#changing the index field name
purchase_data_by_age_basic_calc_df.index.name = "Age Ranges"

# Displaying the summary data frame
purchase_data_by_age_basic_calc_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# Creating a groupby dataframe with Group by SN
spender_group = purchase_data.groupby("SN")

# Purchase Count
purchase_count = spender_group["Item ID"].count()

# Create summary dataframe and start adding summary starting with Purchase Count
top_spenders_df = pd.DataFrame(purchase_count)
top_spenders_df = top_spenders_df.rename(columns={"Item ID": "Purchase Count"})
 
# Total Purchase Value
tot_purch_val = spender_group["Price"].sum()

# Average Purchase Price
avg_purch_price =  tot_purch_val/purchase_count
avg_purch_price_disp = avg_purch_price.astype(float).map("${:,.2f}".format)

# Adding rest of the summary fields to summary data frame
top_spenders_df["Average Purchase Price"] = pd.DataFrame(avg_purch_price_disp)
top_spenders_df["Total Purchase Value"] = pd.DataFrame(tot_purch_val)

# Sorting the total purchase value column in descending order
top_spenders_df_sorted = top_spenders_df.sort_values(by=["Total Purchase Value"],ascending=False)

# Applying formatting and display a preview of the data frame
top_spenders_df_sorted["Total Purchase Value"] = top_spenders_df_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)
top_spenders_df_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Retrieve the Item ID, Item Name, and Item Price columns
popular_items_df = pd.DataFrame(purchase_data[["Item ID", "Item Name", "Price"]])

# Group by Item ID and Item Name
popular_items_group = popular_items_df.groupby(["Item ID","Item Name"])

# purchase count, total purchase value , and average item price
popular_items = popular_items_group["Item ID"].count()
total_purchase_value = popular_items_group["Price"].sum()
average_item_price = total_purchase_value/popular_items

# Create summary dataframe and add results 
most_popular_items_df = pd.DataFrame(popular_items)
most_popular_items_df = most_popular_items_df.rename(columns={"Item ID": "Purchase Count"})
most_popular_items_df["Item Price"] = average_item_price
most_popular_items_df["Total Purchase Value"] = total_purchase_value

# Summary dataframe by sorting the purchase count column in descending order and applying formatting
most_popular_items_df_sorted = most_popular_items_df.sort_values(by=["Purchase Count"],ascending=False)
most_popular_items_df_sorted["Item Price"] = most_popular_items_df_sorted["Item Price"].astype(float).map("${:,.2f}".format)
most_popular_items_df_sorted["Total Purchase Value"] = most_popular_items_df_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Display a preview of the data frame
most_popular_items_df_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# Sort the above table by total purchase value in descending order
most_profitable_items_df_sorted = most_popular_items_df.sort_values(by=["Total Purchase Value"],ascending=False)

# give the displayed data cleaner formatting
most_profitable_items_df_sorted["Item Price"] = most_profitable_items_df_sorted["Item Price"].astype(float).map("${:,.2f}".format)
most_profitable_items_df_sorted["Total Purchase Value"] = most_profitable_items_df_sorted["Total Purchase Value"].astype(float).map("${:,.2f}".format)

# Display a preview of the data frame
most_profitable_items_df_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80